/*
COLORS ALLOWED
Cerulean Blue #4484CE
Aluminum #D9D9D9
Light Yellow #F9CF00
Tangerine #F19F4D
White #FFF
Black #000
*/

body {
    font-size: 14pt;
    position: absolute;
    min-height: 98vh;
    margin: 0px;
    width: 100%;
}
th, td {
    border: 1px solid black;
    /*text-align: center;*/
    vertical-align: middle;
    padding: 5px;
    font-family: "Consolas", monospace;
}

#header {
    width: 375px;
    margin: 8px;
    color: #FFF;
}

#header-wrapper {
    position: absolute;
    width: 100%;
    background: #4484CE;
}

#content-wrapper {
    padding-top: 100px;
    margin: 8px;
}

input[type=text] {
    font-size: 12pt;
    margin-bottom: 5px;
	width: 80%;
	max-width: 510px ;
}
.button {
	/*border-style: outset;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer-column {
    font-weight: 300;
    float: left;
    width: 50%;
    color: #AFAFAF;
}

.l {
    text-align: left;
}

.r {
    text-align: right;
}